SmartInboxCleanup/weekly-inbox-cleanup.json
{
  "name": "WeeklyInboxCleanup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "b9fe0cd5-2c4e-46ea-9027-ed81597f9182",
      "name": "Weekly Cleanup",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -960,
        96
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 30,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "label:inbox"
        }
      },
      "id": "c7a9bc7d-c401-4c23-8585-5beacbd47e40",
      "name": "Fetch Unread Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -736,
        96
      ],
      "alwaysOutputData": true,
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "trash",
        "threadId": "={{ $('Fetch Unread Emails').item.json.threadId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "4ce9aed5-47b6-4adf-bfab-cc2bcda738a5",
      "name": "Trash a thread",
      "webhookId": "YOUR_TRASH_WEBHOOK_ID_HERE",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please categorize this enail:\nSubject: {{ $json.Subject }}\nfrom: {{ $json.From }}\ncontent:{{ $json.snippet }} ",
        "messages": {
          "messageValues": [
            {
              "message": "You are a bold assistant. If an email is clearly a newsletter, promotion, or notification, mark it for deletion. Analyze the email and decide if it is important or clutter.  Rule for ARCHIVE: Use this for Job offers, certificates  Partnership requests, Business offers, or direct Questions from humans. Rule for DELETE: Use this for everything else (Promotions, Newsletters, App notifications, Spam).  Constraint: You must respond ONLY with a JSON object. No other text. Format: {\"decision\": \"ARCHIVE\"} or {\"decision\": \"DELETE\"}"
            }
          ]
        },
        "batching": {
          "batchSize": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -528,
        96
      ],
      "id": "4a8e1bd0-b2f9-42cd-b277-4ab3e4b1b9d0",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7759cc4b-e3c7-4f68-9949-3865e4d5a8e8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f0b97adc-9058-4072-adb1-85d71e78943e",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "ARCHIVE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        96
      ],
      "id": "5b781e42-80d6-437a-9835-7579af6262f9",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Fetch Unread Emails').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        192
      ],
      "id": "9e33f73f-6d4d-42f6-ba1d-1337900a66af",
      "name": "Remove label from message",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        144
      ],
      "id": "650f2c7d-3717-4afe-bf66-c62351741044",
      "name": "Merge",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "YOUR_SLACK_USER_ID",
          "mode": "list",
          "cachedResultName": "chukwukaelojuliet"
        },
        "text": "Clean up done for the week, inbox is good as new Juliet",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        416,
        144
      ],
      "id": "b2f8cf62-db29-4cef-99f7-7ef805f9c809",
      "name": "Send a message",
      "webhookId": "YOUR_SLACK_WEBHOOK_ID_HERE",
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID_HERE",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        -608,
        288
      ],
      "id": "df497e6a-18a4-46d6-8842-971879024776",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID_HERE",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Cleanup": {
      "main": [
        [
          {
            "node": "Fetch Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unread Emails": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Trash a thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trash a thread": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove label from message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "412a9da2-0832-41f7-8975-0e9c48828ced",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "Wk9qvcBcrSpDw5lt",
  "tags": []
}
